<div class="home">
  <div class="content">
    <div class="profile">
      <h1 class="nickname"><%= theme.nickname %></h1>
      <div class="description">
        <p id="typed"></p>
      </div>
    </div>
    <hr/>
    <ul class="links">
      <% for (var key in theme.links) { %>
        <li>
          <a href="<%= theme.links[key] %>"><%= key %></a>
        </li>
      <% } %>
    </ul>
  </div>
</div>
<script type = "text/javascript">
  var typedSpeed = 120;
   var typeWriter = {
      msg: function(msg){
        return msg;
      },
      len: function(){
        return this.msg.length;
      },
      seq: 0,
      speed: typedSpeed,//打字时间(ms)
      type: function(){
         var _this = this;
         document.getElementById("typed").innerHTML = _this.msg.substring(0, _this.seq);
         if (_this.seq == _this.len()) {
             _this.seq = 0;
             clearTimeout(t);
         }
         else {
            if(_this.seq < _this.len()/2){
               _this.speed -=1;
            }else{
               _this.speed +=1;
            }
            _this.seq++;
            var t = setTimeout(function(){_this.type()}, this.speed);
         }
      }
   }

   typeWriter.msg = "<%- (theme.description) %>";
   var length = typeWriter.msg.length;
   typeWriter.type();
  </script>